.content{
    background-image: url(../img/background.jpg);
    position: absolute;
    top: 1%;
    left: 2%;
    right: 2%;
    bottom: 1%;
}
.menu{
    position: absolute;
    background-color: #3E3939;
    top: 0%;
    left: 80%;
    right: 0%;
    bottom: 0%;

}
.content2{
    background-color: gray;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 20%;
    bottom: 0%;
}
body{
	background-color: black;
}
.carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(0,-100%, 0);
            transform: translate3d(0, -100%, 0);
  }

.carousel{
    height: 100%;
}
.carousel-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.carousel-control.left {
    right: 0;
    left: 46%;
    position: absolute;
    top: 15%;
    transform: rotate(270deg);
    width: 8%;
    height: 158%;
}
.carousel-control.right {
    right: 0;
    left: 46%;
    position: absolute;
    top: -73%;
    transform: rotate(270deg);
    width: 8%;
    height: 159%;
}

.carousel-indicators {
    transform: rotate(90deg);
    left: 71%;
    top: -150px;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
}
.fondo {
    background-image: url(../img/background_2.jpg);
    background-repeat: no-repeat;
    background-size: 1000px;
}