.content{
    background-image: url(../img/background.jpg);
    position: absolute;
    top: 1%;
    left: 2%;
    right: 2%;
    bottom: 1%;
}
.menu{
    position: absolute;
    background-color: #3E3939;
    top: 0%;
    left: 80%;
    right: 0%;
    bottom: 0%;

}
.content2{
    background-color: gray;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 20%;
    bottom: 0%;
}
body{
	background-color: black;
}
.carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(0,-100%, 0);
            transform: translate3d(0, -100%, 0);
  }

.carousel{
    height: 100%;
}
.carousel-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.carousel-control.left {
    right: 0;
    left: 46%;
    position: absolute;
    top: 15%;
    transform: rotate(270deg);
    width: 8%;
    height: 158%;
}
.carousel-control.right {
    right: 0;
    left: 46%;
    position: absolute;
    top: -73%;
    transform: rotate(270deg);
    width: 8%;
    height: 159%;
}

.carousel-indicators {
    transform: rotate(90deg);
    left: 71%;
    top: -150px;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
}
.fondo {
    width: 100%;
    background-repeat: 2;
}
.fondo2 {
    width: 100%;
}
.inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 645px;
}
.texto {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.91);
    top: 20%;
    left: 2%;
    width: 40%;
    height: 63%;
    border-radius: 2%;
    text-align: justify;
    padding: 5%;
    padding-top: 1%;
    font-family: inherit;
    color: initial;
}
.texto-2 {
    position: fixed;
    background-color: rgba(69, 156, 230, 0.68);
    top: 20%;
    left: 2%;
    width: 40%;
    height: 63%;
    border-radius: 2%;
    text-align: justify;
    padding: 5%;
    padding-top: 1%;
    font-family: inherit;
    color: initial;
}
.titulo {
    font-size: 30px;
}
.sub-titulo {
    font-size: 20px
}
.icon-face {
    -webkit-filter: invert(62%);
    padding-left: 15%;
}
.icon-insta {
    -webkit-filter: invert(62%);
    padding-left: 20%;
}
.icon-twit {
    -webkit-filter: invert(62%);
    padding-left: 20%;
}
.icon-face-1 {
    padding-left: 15%;
}
.icon-insta-1 {
    padding-left: 20%;
}
.icon-twit-1 {
    padding-left: 20%;
}

.imagenes {
    position: absolute;
    top: -850%;
    left: 55%;
}
.logo {
    width: 380px;
    height: 380px;
}
.person {
    position: absolute;
    top: -15%;
    left: 28%;
    width: 40%;
    height: 110%;
}
.nombre {
    position: absolute;
    background-color: rgba(124, 183, 234, 0.89);
    top: -150%;
    left: 48%;
    width: 75%;
    height: 80%;
    text-align: center;
    font-size: 25px;
    color: white;
    border: solid;
    border-color: black;
}
.nombre-2 {
    position: absolute;
    background-color: rgba(234, 241, 250, 0.88);
    top: -150%;
    left: 48%;
    width: 75%;
    height: 80%;
    text-align: center;
    font-size: 25px;
    color: black;
    border: solid;
    border-color: gray;
}